@font-face{
    font-family: 'ZXSpectrum';
    src: url('../fonts/ZXSpectrum.eot');
    src: url('../fonts/ZXSpectrum.eot?iefix') format('eot'),
    url('../fonts/ZXSpectrum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
