:root {
    /*COLORS*/
    --color-grey: #CFCFCF;
    --color-pink: #820085;
    --color-red-dark: #850000;
    /*GAPS*/
    --standard-padding: 25px;
    --standard-margin: 20px;
    --standard-gap: 10px;
}
